<!--
  This partial has been intentionally left empty.
  Override this in your site to insert code just before the closing <body> tag.
  For example, to install an analytics tracking package.
-->

<p class="copyright text-muted">
  本站文章采用<a rel="license" href="http://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>进行许可，文中涉及代码采用<a rel="license" href="http://creativecommons.org/publicdomain/zero/1.0/">CC0 1.0 Universal</a>进行许可
  <br/>
  订阅本站文章：<a href="http://disksing.com/index.xml" target="_blank"><i class="fa fa-rss-square"></i>RSS</a>
</p>